.symbolic-accent-bg {
    color: @accent_bg_color;
}

.background-accent-bg {
    background: @accent_bg_color;
    border-radius: 10px;
    padding: 5px;
}

.background-green-bg {
    background: green;
    border-radius: 10px;
    padding: 5px;
}

.background-salmon-bg {
    background: #ff2a03;
    border-radius: 10px;
    padding: 5px;
}