.symbolic-accent-bg {
    color: @accent_bg_color;
}

.size-20-font {
    font-size: 20px;
}

.rounded-all-25 {
    border-radius: 25px;
}

.background-accent-bg {
    background: @accent_bg_color;
    border-radius: 10px;
    padding: 5px;
}

.background-green-bg {
    background: green;
    border-radius: 10px;
    padding: 5px;
}

.background-red-bg {
    background: #ff2a03;
    border-radius: 10px;
    padding: 5px;
}

.round-border-only-top {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.round-border-only-bottom {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}